@font-face {
    font-family: Header;
    src: local('Open Sans SemiBold'),
         url('/fonts/header/OpenSans-SemiBold.woff2') format('woff2'),
         url('/fonts/header/OpenSans-SemiBold.woff')  format('woff'),
         url('/fonts/header/OpenSans-SemiBold.otf')   format('otf'),
         url('/fonts/header/OpenSans-SemiBold.svg')   format('svg'),
}

body {
    background-color: whitesmoke;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: lime;
    padding: 1em;
}

header p {
    color: white;
    font-size: 2em;
    font-weight: light;
    text-align: center;
    font-family: Header;
}

header img {
    position: absolute;
    height: 6em;
    display: none;
}

main {
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 1em;
    overflow-x: hidden;
    line-height: 1.5em;
}

main h1 {
    font-size: 2em;
    border-bottom: 2px solid #66cc66;
    margin-top: 0.2em;
    padding-bottom: 0.2em;
    margin-bottom: 0;
    line-height: 1em;
}

#pages-list {
    max-width: 1000px;
    margin: auto;
    padding: 1em;
}

#custom-shit {
    max-width: 1000px;
    margin: auto;
    padding: 0 1em 1em;
}

a {
    text-decoration: none;
    color: #00cc00;
}

a:hover {
    text-decoration: underline;
}

#content-plan {
    position: absolute;
    margin: 2em;
    display: none;
}

#content-plan h1 {
    font-size: 1.5em;
}

#content-plan a {
    color: black;
    text-decoration: none;
}

#content-plan a:hover {
    text-decoration: underline;
}

@media (min-width: 105em) {
    #content-plan {
        display: initial;
    }

    #custom-shit {
        position: absolute;
        right: 0;
    }
}

@media (min-width: 30em) {
    header img {
        display: initial;
    }
}

footer {
    max-width: 1000px;
    margin: auto;
    padding: 0 1em;
}

#to-top {
    position: fixed;
    width: calc(25vw - 250px);
    height: 100vh;
}

#to-top img {
    display: none;
    margin-top: calc(50vh - 18.75%);
    margin-left: 31.25%;
    width: 37.5%;
}

#to-top:hover {
    background-color: #00000033;
}

#to-top:hover img {
    display: initial;
}

figure {
    display: inline-block;
}