@import url('/style1.css');

body {
    background-color: #111;
    font-family: Consolas, monospace, sans-serif;
    color: darkolivegreen;
}

#header {
    background-color: #030;
}

#header p {
    color: #0A0;
}

main {
    background-color: #171717;
    color: #CCC;
}

main h1 {
    border-bottom-color: green;
}

a {
    color: green;
}

#table-of-contents a {
    color: darkolivegreen;
}

#to-top:hover {
    background-color: #FFF3;
}

select {
    background-color: #171717;
    border-color: gray;
    color: #CCC;
}